body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #000000;
}
:root {
  --section-color: #2f303a;
}
img {
  display: block;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid tomato;*/
}
.link {
  text-decoration: none;
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.list {
  list-style: none;
}
.header {
  position: relative;
  background-color: #ffffff;
  --color-text-header: #212121;
  --color-text-contact: #757575;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.header-logo-head {
  color: #000000;
}
.header-nav {
  margin-left: 93px;
}
.header-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  display: flex;
}
.header-nav-list :hover,
.header-nav-list :focus {
  color: #2196f3;
}
.header-nav-item {
  display: flex;
}
.header-nav-item::after {
  content: "";
  position: absolute;
  top: 99%;
  width: 48px;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.header-nav-list :not(:last-child) {
  margin-right: 50px;
}
.header-nav-list-st {
  color: var(--color-text-header);
}
.header-nav-list-port {
  color: var(--color-text-header);
}
.header-nav-list-cont {
  color: var(--color-text-header);
}

.header-contaсt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin-left: auto;
  align-items: center;
}
.header-contaсt :hover,
.header-contaсt :focus {
  color: #2196f3;
  fill: #2196f3;
}
.header-contaсt-mail {
  color: var(--color-text-contact);
  margin-right: 30px;
  display: flex;
  align-items: center;
  fill: var(--color-text-contact);
}
.header-contaсt-tel {
  color: var(--color-text-contact);
  display: flex;
  align-items: center;
  fill: var(--color-text-contact);
}
.header-contaсt-mail-icon {
  margin-right: 10px;
}
.header-contaсt-tel-icon {
  margin-right: 10px;
}
.main-section-header {
  background: var(--section-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/header_fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.main-section-header-motto {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}
.main-section-header-button {
  width: 200px;
  height: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin: auto;
}
.soft-skils-about {
  background: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}
.soft-skils {
  display: flex;
}
.soft-skils-list:not(:last-child) {
  margin-right: 30px;
}
.soft-skils-list {
  width: 270px;
}
.soft-skils-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}
.soft-skils-paragraph {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.soft-skils-cont {
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.soft-skils-icon {
  margin: 0 auto;
}
.hard-skil {
  padding-bottom: 94px;
}
.hard-skils {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.hard-skils-list {
  position: relative;
}
.hard-skils-par {
  position: absolute;
  top: 224px;
  width: 370px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}
.hard-skils-photo {
  display: flex;
  justify-content: space-between;
}
.hard-skils-list:not(:last-child) {
  margin-right: 30px;
}
.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.our-team-list {
  display: flex;
}
.our-team-item:not(:last-child) {
  margin-right: 30px;
}
.our-team-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}
.our-team-paragraph {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 15px;
}
.our-team-signature {
  padding-top: 30px;
  padding-bottom: 30px;
}
.our-team-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-team-soc-item:not(:last-child) {
  margin-right: 8px;
}
.our-team-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team-soc-link:hover,
.our-team-soc-link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}
.desinger {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.frontend {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.marketing {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.uidesigner {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
}
.clients-item + .clients-item {
  margin-left: 30px;
}
.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition-property: border fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footer {
  background: var(--section-color);
  padding-top: 62px;
  padding-bottom: 62px;
}
.footer .container {
  display: flex;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.footer-logo-head {
  color: #ffffff;
  margin-bottom: 60px;
}
.footer-contakts-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  transition-property: color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contakts-list :hover,
.footer-contakts-list :focus {
  color: #2196f3;
}
.footer-contakts-list-title {
  transition-property: color;
  transition-duration: 2500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contakts-list-title:not(:last-child) {
  margin-bottom: 10px;
}
.footer-contakts-address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-contakts-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contakts-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-soc {
  margin-top: 10px;
  margin-left: 70px;
}
.footer-soc-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-soc-list {
  display: flex;
}
.footer-soc-item:not(:last-child) {
  margin-right: 10px;
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
}
.footer-mailing {
  width: 570px;
  height: 86px;
  margin-top: 10px;
  margin-left: 93px;
}
.footer-mailing-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.footer-mailing-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  margin-top: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--section-color);
}
.footer-mailing-btn {
  position: relative;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: #ffffff;
  fill: #ffffff;
  text-align: left;
  padding-left: 29px;
  outline: none;
  border: none;
}
.footer-mailing-icon {
  position: absolute;
  top: 13px;
  right: 28px;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden .modal {
  transform: scale(0.2) rotate(90deg) skew(-75deg, -10deg);
}
.modal {
  padding: 40px;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 250ms;
  transform: translate(-50%, -50%) scale(1) rotate(0deg) skew(0deg, 0deg);
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
.modal-close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 500ms;
  transform: translate(-50%, -50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #2196f3;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-par {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.modal-form-field {
  margin-bottom: 12px;
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 1px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus,
.modal-input:hover {
  border-color: rgba(33, 150, 243, 1);
}
.modal-input:focus + .modal-input-icon,
.modal-input:hover + .modal-input-icon {
  fill: rgba(33, 150, 243, 1);
}
.modal-input-area {
  position: relative;
}
.modal-input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus,
.modal-textarea:hover {
  border-color: rgba(33, 150, 243, 1);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.modal-check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.input-check:hover + .modal-check-text span,
.input-check:focus + .modal-check-text span {
  border-color: #2196f3;
}
.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check-icon {
  fill: transparent;
}
.input-check:checked + .modal-check-text span {
  background-color: #2196f3;
  border-radius: none;
}
.input-check:checked + .modal-check-text .modal-check-icon {
  fill: #ffffff;
}
.modal-form-conditions {
  color: rgb(33, 150, 243);
}
.modal-form-btn {
  position: absolute;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-top: 30px;
  border: none;
  outline: none;
  transition-property: background;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background: #188ce8;
}
